*{list-style: none;text-decoration-style: none;margin: 0;padding: 0;}
.content{overflow: hidden;}
.select_card{float: left;width: 150px;}
.select_card a{display: block;
	height: 45px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #c7c7c7;
    line-height: 45px;padding-left: 30px;}

.select_card a .click{color: #efbf1f;border-bottom:#efbf1f;}
.list_table{display: none;}

.select_card .bg01{background: url(img/page.png) no-repeat left;}
.select_card .bg02{background: url(img/componentlib.png) no-repeat left;}

.list_tab{width: 300px;}
.list_tab img{float: left;margin-top: 12px;}

.list_tab img.down{
	transform: rotate(90deg);
	/*transition: transform 0.3s;*/
}