*{font-family: Microsoft YaHei !important;}
.wrap_content{width: 100%;background-color: #FFF;position: relative;}
.wrap{width: 1200px;margin: 0 auto;}

/*头部*/
.header{
	width: 100%;
	height: 80px;
	line-height: 80px;
	color: #7a7a7a;
	font-size: 16px;	
	font-family: Microsoft YaHei !important;
	position: relative;
}
.head_logo a{
	display:block;
	background: url(../img/logo.png) no-repeat;
	width: 120px;
	height: 38px;
    margin-top: 22px;

}
.header_top{overflow: hidden;}
.head_logo,.head_center{float: left;}
.head_login{float: right;}

.head_logo a{
	display:block;
	background: url(../img/logo.png) no-repeat;
	width: 120px;
	height: 38px;
    margin-top: 22px;

}
.head_center ul {
	overflow: hidden;
	padding-left: 139px;
}
.head_center ul li{
	float: left;
	width:127px;
	text-align: center;
	white-space: nowrap;
	 }
.head_center ul li a:hover{color: #0272da}
.head_center ul li a{
	color: #7a7a7a;
	font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;}

.head_login .login_left span{
	color: #7a7a7a;
	font-size: 16px;
	white-space: nowrap;
	display: inline-block;
}
.head_login .login_left span:hover{color: #0272da}
.login_center .title a{
	color: #7a7a7a;
	font-size: 16px;
    display:block;
    white-space: nowrap;
}
.login_center .title a img{vertical-align: middle;}

.login_center ul{
	width: 194px;
	height: 136px;
	background-color: #fff;
	border-radius: 5px;
    box-shadow: 0px -1px 15px #888888;
    position: absolute;
    top: 65px;
    z-index: 100;
    right: 0;
    }
.login_center ul li a{height: 41px;width: 174px;display: block;line-height: 41px;padding-left: 20px;}
.login_center ul li a:hover{color: #333333;background-color: #f2f2f2;}
.one{margin-top: 10px;margin-bottom: 15px;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;}


/*滚动条*/
.banner_pict{width: 100%;position: absolute;left: 0px;height: 440px;}
.bannerbox{
	width:100%;
    height:440px;
	max-width: 1920px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.banner {
		width:1920px; /*图片宽度*/
		position:absolute;
		left: -250%;
		margin-left:-960px; /*图片宽度的一半*/
	}
.btnCommon{
		width:40px;
		height:50px;
		font-size: 20px;
		color:#fff;
		background: rgba(0,0,0,0.2);
		position: absolute;
		top:45%;
		line-height:50px;
		text-align: center;
		cursor: pointer;
		z-index: 10;
		display: block;
	}
.btnCommon:hover{background: rgba(0,0,0,0.5);}
.rightB{
		right:18%;
	}
	.leftB{
		left:18%;
	}
	.focusBox{
	    position: absolute;
	    left: 50%;
	    bottom: 5px;
	    transform: translateX(-50%);
	}
	.focusBox li{
		display: inline-block;
		margin-right: 10px;
		list-style-type: none;
	   	width: 10px;
	   	height: 10px;
	   	border-radius: 10px;
	   	background-color: #282828;
	   	cursor: pointer;
	}
	.focusBox li.cur{
		background-color: #4cd964;
	}

/*行业模板*/

.content{margin-top: 480px;}
.content .industry li,.content .template li{width: 102px;text-align: center;margin-bottom: 5px;}
.content .content_all ul li a{font-size: 14px;color: #666666;}

.content .industry {overflow: hidden;margin-bottom: 20px;}
.content .industry li{float: left;}
.content .template{overflow: hidden;}
.content .template li{float: left;}
.font_spe{font-weight: bold;color: #333333;}
.content .industry li a:hover{color: #0272da;}
.active{color: #0272da !important;}

.botton_choose{overflow: hidden;margin-top: 55px;margin-bottom: 19px;}
.botton_choose .usual{float: left;margin-left: 491px;}
.botton_choose .usual a{font-size: 16px;color: #666666;}
.botton_choose .all{float: right;}
.usual span{display: inline-block;margin-right: 10px;}

.active_one{border:1px solid #0272da;width: 102px;height:38px;text-align: center;line-height: 40px;border-radius: 19px;}
.all span{display: inline-block;}
.all span a{font-size: 14px;color: #666!important;}
.all span{background: url(../img/small.png) no-repeat;padding-left: 26px;height: 16px;line-height: 16px;margin-right: 12px;}
.active_two{background: url(../img/green.png) no-repeat !important;}

/*图文列表*/
.picture_list ul{padding-top: 20px;}
.picture_list ul li{width: 224px;height: 300px;position: relative;display: inline-block;margin-right: 12px;margin-bottom: 20px;}
.picture_list ul li p{font-size: 14px;color: #333333; white-space: nowrap;margin-top: 19px;padding-left: 15px;}
.picture_list .numbers span{font-size: 14px;margin-right: 31px;height: 12px;line-height: 12px;display: inline-block;}

.picture_list .numbers .preview{background: url(../img/eye.png) no-repeat;padding-left: 19px;}
.picture_list .numbers .use_times{background: url(../img/choose.png) no-repeat;padding-left: 16px;}
.picture_list .numbers{padding-left: 15px;margin-top: 10px;margin-bottom: 14px;}
.picture_list .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;}

.picture_list ul li:hover .layer{display: block;}
.picture_list .layer img{margin-top: 39px;margin-left: 27px;}
.picture_list .layer .btn{display: inline-block;
	width: 80px;height: 32px;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	border-radius: 2px;
    margin-top: 20px;}
.picture_list .layer .special01{color:#4cbc5e;border:1px solid #4cbc5e ;margin-left: 27px;margin-right: 10px;}
.picture_list .layer .special02{color: #ffffff;background-color: #0272da;}
.picture_list .layer .special01:hover{background-color:#4cd964;color: white; }
.picture_list .layer .special02:hover{background-color: #349eff;}
.picture_list {margin-bottom: 42px;}

/*底部*/
.footer{text-align: center;}
.footer_wrap{height: 216px;width: 100%;background-color:#282828;}
.footer_wrap ul li{float: left;width: 83px;text-align: center;}
.footer_wrap ul li a{font-size: 14px;color: #666666;}
.footer_wrap ul {width: 336px;
	margin: 0 auto;
	border-bottom:1px solid #666666;
	height: 57px;
	line-height: 57px;
	padding-top: 33px;
}
.footer_wrap p{font-size: 14px;color: #666666;margin-top: 21px;}
.bottom_layer .back_top a{
	display: block;
	position: fixed;
	right: 0;
	bottom: 2%;
	background:url(../img/back_top.png);
	width: 50px;
	height: 50px; }