@media only screen and (min-width: 1024px){
			.prize{zoom:3.2;} 
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			.prize{zoom:2.4;}
		}
		@media only screen and (min-width: 640px) and (max-width: 767px) {
			.prize{zoom:2;}
		}
		@media only screen and (min-width: 540px) and (max-width: 639px) {
			.prize{zoom:1.68;}
		}
		@media only screen and (min-width: 480px) and (max-width: 539px) {
			.prize{zoom:1.5;}
		}
		@media only screen and (min-width: 414px) and (max-width: 479px) {
			.prize{zoom:1.29;}
		}
		@media only screen and (min-width: 400px) and (max-width: 413px) {
		    .prize{zoom:1.25;}
		}
		@media only screen and (min-width: 393px) and (max-width: 399px) {
			.prize{zoom:1.228;}
		}
		@media only screen and (min-width: 384px) and (max-width: 392px) {
			.prize{zoom:1.2;}
		}
		@media only screen and (min-width: 375px) and (max-width: 383px) {
			.prize{zoom:1.17;}
		}
		@media only screen and (min-width: 360px) and (max-width:374px) {
			.prize{zoom:1.125;}
		}