.wrap_content{width: 100%;}
.header{
	width: 100%;
	height: 80px;
	line-height: 80px;
	color: #7a7a7a;
	font-size: 16px;	
	font-family: Microsoft YaHei !important;
	position: relative;
	}

.header_top{overflow: hidden;}
.head_logo,.head_center,.head_login{float: left;}
.head_logo a{
	display:block;
	background: url(../img/logo.png) no-repeat;
	width: 120px;
	height: 38px;
    margin-top: 22px;
    margin-left: 360px;
}
.head_center ul {
	overflow: hidden;
	padding-left: 139px;
}
.head_center ul li{
	float: left;
	width:127px;
	text-align: left;
	white-space: nowrap;
	 }
.head_center ul li a:hover{color: #0272da}
.head_center ul li a{
	color: #7a7a7a;
	font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;}

.head_login .login_left span{
	color: #7a7a7a;
	font-size: 16px;
	white-space: nowrap;
	display: inline-block;
}
.head_login .login_left {position: absolute;right: 360px;}

.login_center .title a{
	color: #7a7a7a;
	font-size: 16px;
    display:block;
    position: absolute;
    right: 215px;
    white-space: nowrap;
}
.login_center .title a img{vertical-align: middle;}

.login_center ul{
	width: 194px;
	height: 136px;
	background-color: #fff;
	border-radius: 5px;
    position: absolute;
    right:170px;
    top:64px; 
    display: block;
    box-shadow: 0px -3px 15px #888888;
    }
.login_center ul li a{height: 41px;width: 174px;display: block;line-height: 41px;padding-left: 20px;}
.login_center ul li a:hover{color: #333333;background-color: #f2f2f2;}
.one{margin-top: 10px;margin-bottom: 15px;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;}

.bannerbox{
	width:100%;
	height:440px;
    max-width: 1920px;
	overflow:hidden;
	margin: 0 auto;
	position: relative;
}
.banner {
			width:1920px; /*图片宽度*/
			position:absolute;
			left: -250%;
			margin-left:-960px; /*图片宽度的一半*/
		}

.btnCommon{
	width:40px;
	height:50px;
	font-size: 20px;
	color:#fff;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top:45%;
	line-height:50px;
	text-align: center;
	cursor: pointer;
	z-index: 10;
/*	display: none;*/

}
.btnCommon:hover{background: rgba(0,0,0,0.5);}

.rightB{
	right:357px;

}
.leftB{
	left:357px;
}

.focusBox{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}
.focusBox li{
	display: inline-block;
	margin-right: 10px;
	list-style-type: none;
   	width: 10px;
   	height: 10px;
   	border-radius: 10px;
   	background-color: #282828;
   	cursor: pointer;
}
.focusBox li.cur{
	background-color: #4cd964;
}