
/*样式*/
.style-wrap{
	width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 35px solid transparent;
}
.style-con {
	width: 310px;
	padding: 5px 15px;
	font-size: 12px;
}
.style-con h4{
	font-size: 15px;
}
.st-section{
	margin-top: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.st-l{
	display: inline-block;
	width: 40px;
	height: 25px;
	margin-left: 5px;
	margin-right: 4px;
	background-color: #b2b1b1;
	color: #fff;
	text-align: center;
	line-height: 25px;
	border-radius: 3px;
	vertical-align: top;
}
.st-d{
	display: inline-block;
	width: 257px;
	color: #242424;
}
.st-d > div{
	margin-bottom: 10px;
}
.st-d > div:first-child{
	margin-top: 2px;
}
.st-po{
	margin-top: 1px;
}
.st-po span , .ani-di span{
	display: inline-block;
	width: 40px;
	height: 22px;
	border-radius: 3px;
	border: 1px solid #d7d7d7;
	color: #878585;
	text-align: center;
	line-height: 22px;
	margin: 0 3px;
	cursor: pointer;
}
.st-po span:active , .ani-di span.active{
	color: #fff;
	border: 1px solid #3b99d7;
	background-color: #3b99d7;
}
.st-sel{
	width: 103px;
	height: 22px;
	border: 1px solid #b9b9b9;
	border-radius: 2px;
	padding-left: 5px;
	color: #242424;
}
.st-shadow label{
	margin-right: 10px;
	line-height: 22px;
}
.st-shadow input{
	margin: 0 5px;
}
.animate-content{
	position: absolute;
    top: 50px;
    bottom: 185px;
    overflow: auto;
}
.animate-ul li{
	display: inline-block;
	width: 53px;
	text-align: center;
	color: #303030;
	margin: 10px 2px;
	cursor: pointer;
}
_:-ms-lang(x), .animate-ul li {
	margin: 10px 1px;
}
.animate-ul li.active{
	color: #3b99d7;
}
.animate-ul li span{
	font-size: 28px;
    display: inline-block;
    width: 100%;
}
.ani-di span{
	display: none;
}
.ani-di[data-dir="t0"] span{
	display: none;
}
.ani-di[data-dir="t1"] .t1,
.ani-di[data-dir="t2"] .t2,
.ani-di[data-dir="t3"] .t3,
.ani-di[data-dir="t4"] .t4,
.ani-di[data-dir="t5"] .t5,
.ani-di[data-dir="t6"] .t6,
.ani-di[data-dir="t7"] .t7
{
	display: inline-block;
}
.ani-sec{
	margin-top: 20px;
	color: #242424;
	width: 310px;
    margin: 0px 15px;
    font-size: 12px;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 65px;
    left: 0;
}
.ani-sec > div{
	margin: 5px 0;
}
.animate-content > h4{
    display: block;
	background-color: #e6e6e6;
    border: none;
    color: #2c2c2c;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    padding: .5em .5em .5em .7em;
    margin-top: 5px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.animate-content .ui-accordion-header-icon{
	position: absolute;
    left: 5.5em;
    top: 50%;
    margin-top: -8px;
}
.ani-wrap{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 35px solid transparent;
}
.ani-el-wrap{
	width: 310px;
    margin: 3px 15px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
}
.ani-el-list{
	display: inline-block;
}
.ani-el-list > li{
	display: inline-block;
	width: 60px;
	height: 30px;
	background-color: #e6e6e6;
	margin-right: 10px;
    position: relative;
    text-align: center;
    line-height: 30px;
    margin-top: 8px;
    cursor: default;
}
.ani-el-list > li:hover,
.ani-el-list > li.active{
	background-color: #3b99d7;
	color: #fff;
}
.ani-el-list > li.active .aniel-delete{
	display: block;
}
.aniel-delete{
	width: 15px;
	height: 15px;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	border-radius: 12px;
	position: absolute;
	top: -7px;
	right: -7px;
	background-color: #767676;
	cursor: pointer;
	display: none;
}
.ani-el-add{
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #3b99d7;
	background-color: #e6e6e6;
	margin-top: 8px;
    vertical-align: top;
    cursor: pointer;
}
