
.cont {
    transition: margin-right 2s;
    border-radius: 5px;
    display:flex;
}

.transitionWidth{
    width:100px;
    height:100px;
    background:red;
    transition:width 2s;
}
.transitionWidth:hover{
    width: 300px;
}


.banner-steps ul {
    font-size: 0;
    text-align: center;
    margin-bottom: 28px
}

.banner-steps ul li {
    display: inline-block;
    vertical-align: middle;
    width: 126px;
    height: 126px;
    background-image: url(../img/spr-bg.png);
    background-position: -643px -75px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 30px
}

.banner-steps ul li .steps-img {
    display: block;
    width: 126px;
    height: 76px;
    margin: 0 auto 10px
}

.banner-steps ul li p {
    font-size: 16px;
    color: #fff
}
.steps-img.step01 {
    background-position: -533px -40px
}

.steps-img.step01,.steps-img.step02 {
    background-image: url(../img/spr.png);
    background-repeat: no-repeat
}

.steps-img.step02 {
    background-position: -664px -121px
}

.steps-img.step03 {
    background-position: -533px -121px
}

.steps-img.step03,.steps-img.step04 {
    background-image: url(../img/spr.png);
    background-repeat: no-repeat
}

.steps-img.step04 {
    background-position: -664px -40px
}
.banner-steps ul li:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: -37px;
    width: 15px;
    height: 27px;
    background-image: url(../img/spr.png);
    background-position: -795px -40px;
    background-repeat: no-repeat
}

.banner-steps ul li.last:after {
    display: none
}
