<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="js/angular-1.2.19.min.js"></script>
</head>
<body>
	<form ng-app="myApp" name="myForm" ng-controller="myCtrl">
	    Email:
	    <input type="email" name="myAddress" ng-model="text">
	    <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span><br>
	    姓名：<input name="myName" ng-model="name" required>
	    <div>{{name}}</div>
	</form>
	<script type="text/javascript">
		var app=angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
			console.log($scope);
			$scope.name="SidYan"
		});
	</script>
</body>
</html>