.header{
	height: 2.5rem;
	width: 25rem;
	font-size: 1.125rem;
	padding-top: 1rem;
	padding-left: .75rem;
	padding-bottom: .875rem/* 14px */;
	margin-top: .625rem;
	margin-right: 1rem;
	margin-bottom: .75rem;
	margin-left: 1.5rem;
	top: 50px;
}